* {
	font-family: 'Open Sans', sans-serif;
}
body{
	font-size: 85%;
	padding: 1em;
  text-align: center;
}
html {
	/* font-size */
}

h1, h2, h3, h4, h5, h6 {
	/* margins/spacing */
}

h1 {
	font-size: 2.25em;
	line-height: 1.33em;
	margin-bottom: .67em;
}

h2 {
	font-size: 1.75em;
	line-height: 1.29em;
	margin-bottom: .64em;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: .5em;
}

h4 {
	font-size: 1.25em;
	line-height: 1.2em;
	margin-bottom: .6em;
}

h5 {
	font-size: 1.125em;
	line-height: 1.33em;
	margin-bottom: .67em;
}

h6 {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: .75em;
}

p {
	font-size: 1em;
		line-height: 1.5em;
		margin-bottom: .75em;

}


section{
  padding: 1rem 0;
  background-color: #ffffff;
}

a:link {
  color: red;
	text-decoration: none;
}

/* visited link */
a:visited {
  color:  #cc3300;
	text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

th{
	text-align: left;
	padding: 8px;
	background-color: #000000;
	color: #ffffff;
}

td {
	text-align: left;
	padding: 8px;
}

/*button with div*/
button {
	background-color: #008080;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: auto;
	cursor: pointer;
}

/*button without div*/
.button{
	background-color: #008080;
	 border: none;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	 margin-top: auto;
   height:2em;
    padding: .5em;

}

.button1{
	background-color: #008080;
	color: #ffffff ;
}

.button1:hover{
	background-color: #003333;
	color: #ffffff;
}

.button2{
	background-color: #00004d;
	color: #ffffff ;
}

.button2:hover{
	background-color: #00001a;
		color: #ffffff;
}

.button3{
	background-color: #b3b3b3;
	color: #000000;
}

.button3:hover{
	background-color: #8c8c8c;
		color: #000000;
}

.button4{
	background-color: #e60000;
	color: #ffffff ;
}

.button4:hover{
	background-color: #b3b3b3;
		color: #ffffff;
}

.button5{
	background-color: #b3b3b3;
	color: #ffffff;
}

.button5:hover{
	background-color: #8c8c8c;
		color: #000000;
}

ul {

}

ol {
}

.breadcrumb{

}

p.example {
	border-style: outset;
	background-color: #d9d9d9;
	padding:.5em;
	border-radius: 10px;
}

.cards{
  width:100%;
  display: flex;
  align-items: stretch;
  align-content: center;
  flex-direction: column;


  /* flex-wrap: wrap; */
}

.card{

  display: flex;
flex-direction: column;

  flex:1;

  justify-content: center;
  margin: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
  padding: 1rem;



}



.card-img{
  width:90%;
  height:auto;
}


@media screen and (min-width: 600px){
  body{
  	font-size: 100%;
  }
.cards{
  flex-direction: row;
}
